/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 40px;
    margin-right: 10px;
}

.header-left p {
    font-size: 24px;
    margin: 0;
    color: #5f6368;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-time p {
    font-size: 15px;
    margin: 0;
}

.header-right-img {
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

/* Main Content Styles */
.container {
    margin-top: 80px;
}

.first-session {
    padding: 20px;
}

.first-heading {
    font-size: 45px;
    margin-top: 100px;

}

.new-meeting-container{
    height: 100px;
}

.first-p {
    margin-top: 10px;
    font-size: 24px;
}

.new-meeting-button{
    height: 40px;
    width: 150px;
}

.new-meeting-input{
    height: 40px;
    width: 200px;

}

.second-session {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Carousel Styles */
.second-heading {
    font-size: 22px;
    margin-top: 20px;
}

.second-content-p, .last-p {
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 660px) {
    .row {
        flex-direction: column; 
    }

    .second-session {
        margin-top: 20px; 
    }
}
